body {
  font-family:
    Albert Sans,
    sans-serif;
  overflow: hidden;

  .block__recommendation {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .reco-title {
      font-weight: bold;
      font-size: larger;
      text-transform: uppercase;
    }

    .products {
      display: flex;
      flex-direction: row;
      gap: 10px;
      overflow: auto hidden;
      scrollbar-width: none;

      nosto-product {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .nosto__product-image > img {
          border-radius: 10px;
          object-fit: cover;
        }

        .nosto__product-details--card {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .nosto__product-name {
            color: #ff66bf;
          }

          .nosto__product-price {
            font-size: large;
            font-weight: bold;
          }

          .select__product {
            padding: 5px;
            width: 100%;
            font-size: medium;
            border: 1px solid lightgray;
            outline: none;
          }

          .btn__atc {
            padding: 10px;
            border-radius: 50px;
            border: none;
            background: #ff66bf;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}
