# Set up Font Awesome's scope with a registry to access the private NPM repo

# The npm registry needs a token to exist even when it is not used
@nosto:registry=https://npm.nos.to/
//npm.nos.to/:_authToken="placeholder"
