<script type="module" src="../src/main.ts"></script>

<span class="reco-title">{{title }}</span>
{%- for product in imageProducts %}
    <nosto-image src="{{ product.imageUrl }}" alt="{{ product.name }}" ></nosto-image>
{%- endfor %}