body {
  font-family: Albert Sans, sans-serif;
  overflow: hidden;
}

.block__recommendation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reco-title {
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: auto hidden;
  scrollbar-width: none;
}

nosto-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nosto__product-image > img {
  border-radius: 10px;
  object-fit: cover;
}

.nosto__product-details--card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nosto__product-name {
  color: #ff66bf;
}

.nosto__product-price {
  font-size: large;
  font-weight: bold;
}

.nosto__product-skus {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nosto-sku-options {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

nosto-sku-options span {
  padding: 5px;
  border: 1px solid #ff66bf;
}

nosto-sku-options span[selected] {
  background-color: #ff66bf;
}

nosto-sku-options span[disabled] {
  opacity: 0.2;
}

.btn__atc {
  padding: 10px;
  border-radius: 50px;
  border: none;
  background: #ff66bf;
  color: #fff;
  cursor: pointer;
}

nosto-product:not([sku-selected]) .btn__atc {
  background: #ccc;
  cursor: not-allowed;
}
