/* Product Stories Styles */
.story-container {
  font-family: Albert Sans, sans-serif;
  padding: 20px;
}

.products {
  display: flex;
  gap: 10px;
  overflow: auto hidden;
}

nosto-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
}

.nosto__product-image > img {
  border-radius: 10px;
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.nosto__product-details--card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nosto__product-name {
  color: #ff66bf;
  font-weight: 600;
}

.nosto__product-price {
  font-size: large;
  font-weight: bold;
}

nosto-sku-options {
  display: flex;
  gap: 10px;
}

nosto-sku-options span {
  padding: 5px 10px;
  border: 1px solid #ff66bf;
  border-radius: 4px;
  background: white;
  cursor: pointer;
}

nosto-sku-options span[selected] {
  background-color: #ff66bf;
  color: white;
}

.btn__atc {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background: #ff66bf;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
