name: Release

on:
  push:
    branches: ["main"]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, and wait for the current one to finish
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false

      - name: Setup NodeJS
        uses: actions/setup-node@89d709d423dc495668cd762a18dd4a070611be3f
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Audit dependencies
        run: npm audit --audit-level=high

      - name: Run build
        run: npm run build

      - name: Run tests
        run: npm test

      - name: Create GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@b96fde71c0080358ed6e2d162f11c612c92a97d1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Publish project
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90
        id: semantic
        with:
          semantic_version: 25.0.2
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
          branches: |
            [
              "main"
            ]
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

  publish-docs:
    needs: release
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - uses: actions/setup-node@89d709d423dc495668cd762a18dd4a070611be3f
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Audit dependencies
        run: npm audit --audit-level=high

      - name: Build TypeDoc documentation
        run: npm run build

      - name: Build Storybook
        run: npm run build-storybook

      - name: Combine documentation
        run: |
          mkdir -p docs/storybook
          cp -r storybook-static/* docs/storybook/

      - name: Setup Pages
        uses: actions/configure-pages@d5606572c479bee637007364c6b4800ac4fc8573

      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b
        with:
          path: "docs"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@854d7aa1b99e4509c4d1b53d69b7ba4eaf39215a
